*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 50px;
    background: rgb(163, 163, 220);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

body{
    background: #EAEBEF;
}


.nav{
    width: 300px;
}

.nav__link{
    color:black;
    display: block;
    padding: 15px 0;
    text-decoration: none; 

}

.list__item--inside:hover{
    border-radius: 6px;
    padding-left: 20px;
    background: rgb(244, 242, 242);
}

.nav__link--inside:hover{
    background: rgb(225, 222, 222);
}

.list{
    width: 100%;
    height: 100vh;
    display:  flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: white;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.list__arrow{
    margin-left: auto;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid black;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.ventana{
    background: rgb(237, 233, 233);
    width: 80.4%;
    padding:  33px;
    min-height: 693px;
    position: absolute;
    left: 19.6%;
    top: 6.8%;
    display: none;
}

#cerrar{
    position: absolute;
    right: 3px;
    top: 1px;
    cursor: pointer;
}

.tabla{
    background-color: white;
    text-align: center;
    position: absolute;
    left: 30%;
    top: 1px;
}

table,th, td{
    padding: 10px;
    border: 1px solid black;
}

#botonActualizar{
    position: absolute;
    top: 2px;
    width: 100px;
    height: 25px;
    border: 2px solid black;
    cursor: pointer;
}

#botonBorrar{
    position: absolute;
    top: 40px;
    width: 100px;
    height: 25px;
    border: 2px solid black;
    cursor: pointer;
}

.form-register{
    width: 400px;
    background: white;
    padding: 100px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-register2{
    width: 400px;
    background: white;
    padding: 100px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-register2 h4{
    font-size: 22px;
    margin-bottom: 55px;
}


.form-register h4{
    font-size: 22px;
    margin-bottom: 55px;
}

.controls{
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 26px;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.form-register .botons{
    width: 100%;
    background: white;
    border: 1px solid black;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.form-register2 .botons{
    width: 100%;
    background: white;
    border: 1px solid black;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-register .botons:hover{
    background: rgb(225, 222, 222);
}
.form-register2 .botons:hover{
    background: rgb(225, 222, 222);
}

.ventanaPrecio{
    background: white;
    width: 30%;
    padding:  33px;
    min-height: 200px;
    position: absolute;
    left: 70%;
    top: 71%;
    display: block;
}
.ventanaTotalProductos{
    background: white;
    width: 30%;
    height: 45%;
    padding:  33px;
    min-height: 200px;
    position: absolute;
    left:35%;
    top: 15%;
    display: block;
}
.ventanaUnidades{
    background: white;
    width: 30%;
    padding:  33px;
    min-height: 200px;
    position: absolute;
    left: 25%;
    top: 71%;
    display: block
}
.ventanaTotal{
    background: white;
    width: 30%;
    padding:  33px;
    min-height: 200px;
    position: absolute;
    left:70%;
    top: 20%;
    display: block
}
.precioVenta{
    font-size: 400%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 12%;
    color: blue;
}
.precioDelProducto{
    position: absolute;
    margin-top: 335px;
    right: 4%;
}
.precioCarritoTotal{
    position: absolute;
    margin-top: 220px;
    right: 4%;
}
.desgloceDeProductos{
    position: absolute;
    margin-top: -50px;
    right: 35%;
}
.precioTotal{
    font-size: 400%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 12%;
    color: blue;
}
.totalDeProductos{
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 12%;
    color: blue;
}
.unidadesDisponibles{
    position: fixed;
    margin-top: 335px;
    right: 39%;
}

.seleccionDeProductos{
    padding: 15px;
    font-size: 44px;
    border-radius: 4px;
}
.botonSeleccionProducto{
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
}
.botonSeleccionProducto:hover{
    background: rgb(225, 222, 222);
}
.botonAgregarProductoVenta{
    position: absolute;
    left: 20.55%;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
}
.botonAgregarProductoVenta:hover{
    background: rgb(225, 222, 222);
}
.botonPagar{
    position: absolute;
    left: 80%;
    width: 200px;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
}
.botonPagar:hover{
    background: rgb(225, 222, 222);
}
.divModificarProducto{
    position: absolute;
    left: 25%;
    top: 20%;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 44px;
}
.seccionModificar{
    position: absolute;
    top: 50%;
    left: 34%;
    font-size: 22px;

}
.formularioModificar{
    position: absolute;
    top: 55%;
    width: 25%;
    left: 41%;
    background: white;
    border: 1px solid black;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
}
.formulario2{
    position: absolute;
    top: 55%;
    width: 40%;
    left: 30%;
    background: white;
    border: 1px solid black;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
}
.controls1{ 
    width: 100%;
    background: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.buttonModificar{
    width: 100%;
    background: white;
    border: 1px solid black;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}